@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0f1a2c;
  --tertiary-color: #1f218f;
  --secondary-color: #e94f26;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #fff;
  /* --max-width: 1200px; */
  --header-font: "Playfair Display", serif;
}
 


body {
    font-family: Arial, sans-serif;
   background-color: #b7b084;
    color: #333;
   max-width: 800px;
   margin: auto;

        }



        h1, h2 {
            color: #2c3e50;
            font-family:var(--header-font);
            font-weight: 700;
            font-style: italic;
        }

  

      
        form {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            border-radius: 5px solid --tertiary-color;
            display: flex;
            flex-direction: column;
           
           /* flex-direction: column; */
        
               
              }

        label {
         
            margin-top: 10px;
        }

        input  {
            align-items: center;
            justify-content: center;
            align-content: center;

            width: calc(100% - 22px);
            padding: 10px 1px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {

            padding: 10px 15px;
            margin-top: 10px;
            border:  1px solid #ccc;
            border-radius: 5px;
            background-color: #304d61;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }

        #visitor-info, #status-info, #gtc-info {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: gainsboro;
            white-space: pre-wrap;

        }